.radio {
  margin: 0 11px 20px 0;
}

.radio::before {
}

.radio:checked::before {
  color: #0066cc;
}

.label {
}

.options {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
