.radio {
  display: flex;
  flex-direction: column;
}

.radio::before {
}

.radio:checked::before {
}

.label {
}

.options {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
