.friendMessage {
  display: grid;
  grid-template-areas:
    "iit"
    "time";
}

.friendImageAndText {
  grid-area: iit;
  display: flex;
  justify-items: start;
}

.friendImageAndText img {
  align-self: end;
  max-width: 48px;
  margin: 0 0 5px 0;
}

.friendText {
  position: relative;
  padding: 9px 13px;
  margin: 0 0 5px 12px;
  border-radius: 10px 10px 10px 0;
  background: #f5f7fb;
  box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03),
    0px 1px 2px rgba(29, 33, 38, 0.1);
}

.friendText:after {
  content: "";
  position: absolute;
  right: 100%;
  bottom: -1.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #f5f7fb transparent;
}

.friendName {
  font-family: monospace;
  font-weight: 480;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
}

.friendMessageText {
  font-family: monospace;
  font-weight: 380;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.friendTime {
  grid-area: time;
  text-align: left;
  margin: 0px 0px 0px 10px;
  font-family: monospace;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}
