.button {
  width: 116px;
  height: 30px;
  left: 70px;
  top: 244px;
  background: #0066cc;
  border-radius: 3px solid #0066cc;
  color: white;
  
}

.disabled {
}

.secondary {
}

.default {
}

.red {
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}

.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
